body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(66, 66, 66);
}

/* Header Styling */
#header {
    display: flex;
    justify-content: center;
    font-size: 37px;
    position: absolute;
    margin-top: 54px;
    font-family: cursive;
    -webkit-text-stroke: 2px;
    color: rgb(255, 196, 2);
}
/*  */

/* Button Styling */
#buttonContainer {
    display: flex;
    margin-top: 10px;
    gap: 20px;
}

.dropdown button {
    background-color: rgb(196, 1, 1);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
}

.dropdown a {
    display: block;
    cursor: pointer;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}

.dropdown .content {
    display: none;
    position: absolute;
    min-width: 100px;
    background-color: rgb(244, 153, 153);
    box-shadow: 2px 2px 5px black;
}

.dropdown:hover .content{
    display: block;
}

.button{
    background-color: rgb(196, 1, 1);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
/*  */


/* Grid Styling */
#gridContainer {
    margin-top: 10px;
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    border: 50px solid rgb(196, 1, 1);
    border-radius: 20px;
}

.gridSquare {
    box-sizing: border-box;
    background-color: white;
    border: solid rgb(205, 205, 205) .1px;
}